.product {
	cursor: grab;

	.lead {
		margin: 4rem 0;
	}

	&__price {
		font-size: 3.6rem;
		font-weight: 500;
		color: $color-white;
		margin-top: 4rem;

		& > span {
			font-size: 6rem;
			font-weight: 700;
		}
	}

	&__img {
		display: block;
		width: 85%;
		margin-left: auto;

		@include respond(tab-land) {
			width: 80%;
		}

		@include respond(tab-port) {
			display: none !important;
		}
	}
}
