body {
	font-family: 'Josefin Sans', sans-serif;
}

.heading {
	&__primary {
		color: $color-white;
		font-size: 6rem;
		font-weight: 500;
		letter-spacing: 5px;
		line-height: 1.2;
	}
	&__secondary {
		font-size: 5rem;
		font-weight: 400;
		letter-spacing: 3px;
		color: $color-dark-1;
		line-height: 1.2;
		text-transform: capitalize;

		span {
			display: block;
		}
	}
}
