/* ---------------------------------
Feature Styling
--------------------------------- */
.features {
	margin: 8rem 0;
}

/* ---------------------------------
Services Styling
--------------------------------- */
.products {
	padding: 20rem;
	background-image: $background-color;
	transform: skewY(7deg);
	margin-top: 16rem;

	& > * {
		transform: skewY(-7deg);
	}
}

/* ---------------------------------
Gallery Styling
--------------------------------- */
.new-products {
}

/* ---------------------------------
Testimonials Styling
--------------------------------- */
.testimonials {
}

/* ---------------------------------
Pricing Styling
--------------------------------- */
.pricing {
}
