/* ---------------------------------
Feature Styling
--------------------------------- */
.features {
	margin: 8rem 0;
}

/* ---------------------------------
Services Styling
--------------------------------- */
.products {
	padding: 20rem 0;
	background-image: $background-color;
	transform: skewY(5deg);
	margin-top: 16rem;

	@include respond(phone) {
		transform: skewY(9deg);
		padding: 10rem 0;
	}

	& > * {
		transform: skewY(-5deg);

		@include respond(phone) {
			transform: skewY(-9deg);
		}
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(tab-port) {
			flex-direction: column;
		}
	}
}

/* ---------------------------------
Gallery Styling
--------------------------------- */
.new-arrivals {
	margin-top: 15rem;
}

/* ---------------------------------
Testimonials Styling
--------------------------------- */
.testimonials {
	margin-top: 10rem;
}

/* ---------------------------------
Pricing Styling
--------------------------------- */
.pricing {
	position: relative;
	margin: 15rem 0;
	padding: 10rem 0;
	background-image: $background-color;
	transform: skewY(5deg);

	@include respond(phone) {
		transform: skewY(9deg);
	}

	& > * {
		transform: skewY(-5deg);
		position: relative;
		z-index: 2;

		@include respond(phone) {
			transform: skewY(-9deg);
		}
	}

	&__container {
		margin-bottom: -20rem;
	}
}
